/*/// Grabbed from globals.css ///*/

:root {
  --buskr-lightgray: #D9D9D9;
  --buskr-gray: #A1A1A9;
  --buskr-orange: #ff9767;
  --buskr-purple: #5f4c4c;
  --buskr-yellow: #ffd66c;
  --buskr-pink: #ff7585;
  --buskr-white: white;
} 

/*/// Grabbed from globals.css ///*/

.calendar-container {
  padding-top: 18px;
  margin: auto;
}

.react-calendar {
  width: 300px;
  margin: auto;
  padding: 15px;
  padding-top: 5px;
  line-height: 1.125em;
  background:var(--buskr-white);
  border: 1px solid var(--buskr-lightgray);
  border-radius: 8px;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.react-calendar button {
  margin: 0;
  border: none;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  margin: auto;
  padding-top: 10px;
  height: 40px;
  text-align: center;
  background: none;
}
.react-calendar__navigation button {
  min-width: 50px;
  background: none;
  color: var(--buskr-purple);
  font-weight: 500;
  font-size: 1em;
}
.react-calendar__navigation button:enabled:hover {
  /* color: var(--buskr-pink); */
  background-color: none;
}
.react-calendar__navigation button:enabled:focus {
  background-color: none;
}
.react-calendar__navigation button[disabled] {
  background-color: var(--buskr-lightgray);
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--buskr-gray);
  font-size: 0.65em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
.react-calendar__month-view__weekNumbers {
  font-weight: 300;
  text-decoration: none;
}
.react-calendar__month-view__weekNumbers {
  font-weight: 300;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* individual day tile */
.react-calendar__month-view__days__day button {
  padding: 10px;
}
.react-calendar__month-view__days__day abbr {
  /* padding: 0px; */
}
/* weekend tile*/
.react-calendar__month-view__days__day--weekend {
  /* color: #d10000; */
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 0px;
}
/* controls css for tiles and its contents (interior only, cant do border) */
.react-calendar__tile {
  position: relative;
  max-width: 100%;
  text-align: center;
  padding: .85em;
  color: var(--buskr-purple);
  background: none;
}
/*div for the indicator*/
.notification {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--buskr-pink);
  top: 5px;
  right: 5px;
}
/* days the belong to the previous/next month */
.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--buskr-gray);
}

.react-calendar__tile:disabled {
  background-color: var(--buskr-lightgray);
}
/* hover on tile */
.react-calendar__tile:enabled:hover {
  color: var(--buskr-pink);
}
/* selected date */
.react-calendar__tile:enabled:focus {
  color: var(--buskr-white);
}
.react-calendar__tile:enabled:active {
  color: var(--buskr-pink);
}
/* today's tile */
.react-calendar__tile--now {
  /* background: var(--buskr-pink); */
}
/* hovering over tile */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  /* background: #ffffa9; */
}
.react-calendar__tile--hasActive {
  background: var(--buskr-pink);
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  /* background: #a9d4ff; */
}
/* currectly selected tile */
.react-calendar__tile--active {
  background: var(--buskr-pink);
  border-radius: 50%;
  color:var(--buskr-white);
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  /* background: #1087ff; */
}
.react-calendar--selectRange .react-calendar__tile--hover {
  /* background-color: #e6e6e6; */
}