.createEventContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.masterSearchBar {
  padding: 10px 10px 10px 10px;
  margin: 5px 0px 5px 0px;
  border-radius: 4px;
  border: 1px solid var(--buskr-lightgray);
  font-size: 13px;
}

.datePicker {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--buskr-lightgray);
  font-size: 13px;
}

.timeInput {
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 5px 0px 5px 0px;
  border-radius: 4px;
  border: 1px solid var(--buskr-lightgray);
  font-size: 13px;
  background-color: white;
  color: var(--buskr-gray)
}

.descriptionField {
  padding: 10px 10px 10px 10px;
  margin: 5px 0px 5px 0px;
  border-radius: 4px;
  border: 1px solid var(--buskr-lightgray);
  font-size: 13px;
  height: 150px;
}

.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: auto;
  margin: 5px 0px 0px 0px;
  border-radius: 5px;
  border: 1px solid var(--buskr-lightgray);
  font-size: 13px;
  color: var(--buskr-gray)
}

.conflictBox {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  height: 200px;
  border: 2px solid var(--buskr-pink);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
  color: var(--buskr-pink);
  font-size: 14px;
}

.conflictButtonContainer{
  display: flex;
  justify-content: space-between;
}

.conflictButtonModify, .conflictButtonProceed {
  border: none;
  background-color: var(--buskr-pink);
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  width: 135px;
}

.conflictButtonModify {

}

.conflictButtonProceed {
  background-color: var(--buskr-purple);
}

.eventUploadContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  /* PLEASE MAKE THIS DYNAMIC THX */
  height: 715px;
}

.uploadImageButton {
  border: none;
  background-color: var(--buskr-pink);
  padding: 15px 15px 15px 15px;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  width: 150px;
}

.validationWarning, .smallTitle, .tagSubtext {
  font-size: 13px;
  margin-left: 5px;
  color: var(--buskr-purple)
}

.validationWarning {
  color: var(--buskr-pink);
  /* visibility: hidden; */
}

.tagsDescription {
  display: flex;
  flex-direction: row;
}

.tagSubtext {
  color: var(--buskr-gray);
  padding-left: 3px;
}

