:root {
  --buskr-gray: #777777;
  --buskr-orange: #ff9767;
  --buskr-browple: #5f4c4c;
  --buskr-yellow: #ffd66c;
  --buskr-pink: #ff7585;
}

html,
body {

  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(224, 224, 224);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.master-container {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 812px;
  background-color: white;
  padding: 20px 20px 20px 20px;
}
