:root {
  --buskr-gray: #777777;
  --buskr-orange: #ff9767;
  --buskr-purple: #5f4c4c;
  --buskr-yellow: #ffd66c;
  --buskr-pink: #ff7585;
  --buskr-white: white;
}

html,
body {

  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(224, 224, 224);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.master-container {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 812px;
  background-color: white;
  padding: 20px 20px 20px 20px;
}

.master-button {
  border: none;
  background-color: var(--buskr-pink);
  padding: 15px 15px 15px 15px;
  margin: 20px 0px 20px 0px;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-weight: bold;
}