#infobox {
  position: absolute;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: white;
  border-radius: 5px;
  left: 2.5%;
  bottom: 10px;
  font-weight: bold;
  height: 200px;
};

.infoDetails {

}

.infoPhoto {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}


.infoboxContainer {
  /* background-color: white;
  opacity: 100%; */
}

.mapContainer {
}