.profileContainer {
  display: flex;
  flex-direction: column;
}

.profileImage {
  width: auto;
  height: 200px;
  background-color: lightgrey;
  margin: 10px 0px 10px 0px;
  object-fit: cover;
  border-radius: 10px;
}

.profileBio {
  margin-bottom: 15px;
  color: var(--buskr-gray);
  font-size: 14px;
}

.eventCardsContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--buskr-lightgray);
  /* padding: 10px 10px 10px 10px; */
  overflow-x: hidden;
  border-radius: 5px;
}

.tipsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tipIcon {
  margin: 0px 5px 0px 5px;
  background-color: white;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.qrContainer {
  /* display: flex;
  flex-direction: column;
  align-content: center;
  height: 30px; */
}

.qrButtonContainer {
  display: flex;
  height: 30px;
}

.qrIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border: 1px 0px 1px 0px;
  border-color: var(--buskr-orange);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.qrcode {
  align-self: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.qrButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--buskr-orange);
  padding: 5px 2px 5px 5px;
  margin: 0px 0px 0px 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.qrButtonRight {
  width: 10px;
  background-color: var(--buskr-orange);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--buskr-orange);
  padding: 15px 15px 15px 15px;
  margin: 20px 0px 20px 0px;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.qrContainer {
  display: flex;
  flex-direction: column;
}