.profileContainer {
  display: flex;
  flex-direction: column;
}

.profileImage {
  width: auto;
  height: 200px;
  background-color: lightgrey;
  margin: 10px 0px 10px 0px;
  object-fit: cover;
  border-radius: 10px;
}

.profileBio {
  margin-bottom: 15px;
  color: var(--buskr-gray);
  font-size: 14px;
  height: 80px;
  overflow-y: scroll;
}

.eventCardsContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--buskr-lightgray);
  height: 200px;
  /* padding: 10px 10px 10px 10px; */
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 5px;
}

.tipsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tipIcon {
  margin: 0px 5px 0px 5px;
  background-color: white;
  border-radius: 5px;
  height: 30px;
  width: 30px;
}