.tabsContainer {
  margin-top: 18px;
}

.roundedTabs {
  display: flex;
  flex-direction: row;
  /* padding-bottom: 0; */
  justify-content: space-between;
  border-bottom: var(--buskr-pink) solid 3px;
}

.tabs, .activeTabs {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--buskr-gray);
  /* flex: 1; */
  padding: 5px 0px 5px 0px;
  border: none;
  /* margin: 0 0.1em; */
  width: 107px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 17px;
  background-color: var(--buskr-lightgray);
}

.activeTabs {
  color: white;
  background-color: var(--buskr-pink);
}

/* .tabs button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-size: 17px;
} */

.tabsContent {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border: var(--buskr-lightgray) solid 1px;
  border-top: none;
  height: 330px;
  overflow: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.longtabsContent {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border: var(--buskr-lightgray) solid 1px;
  border-top: none;
  height: 600px;
  overflow: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content, .activeContent {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 600px;
}

.eventListNoEvents {
  color: var(--buskr-purple);
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.eventItemContainer {
  padding: 20px 20px 0 20px;
  color: var(--buskr-purple);
}

.eventItemContainerNoPadding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: var(--buskr-lightgray) solid 2px;
  padding-bottom: 20px;
}

.eventItemInfo {
  display: flex;
  flex-direction: column;
}

.eventItemTime {
  font-size: 13px;
  padding-bottom: 10px;
  color: var(--buskr-purple);
}

.eventItemName {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
  color: var(--buskr-purple)
}

.eventItemBusker, .eventItemLocation {
  font-size: 14px;
  color: var(--buskr-gray);
}

.eventItemOther {
  padding-left: 10px;
}

.eventItemImage {
  width: 90px;
  background-color: var(--buskr-lightgray);
  object-fit: cover;
  border-radius: 5px;
}