#searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title{
  margin-top: 5px;
  margin-bottom: 15px;
  align-self: flex-start;
  font-size: 18px;
  font-weight: bold;
  color: var(--buskr-purple);

}
.searchBar {
  margin:0px 0px;
  width:335px;
  height:35px;
  border:1px solid #d9d9d9;
  border-bottom:0px;
}


#upperSearchBar{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}
.searchInput{
  position: absolute;
  padding-left:30px;
  width:335px;
  background-color:transparent;
  border:0;
  /* outline:none; */
  height:35px;
  color: var(--buskr-purple)
}
/* .searchInput:focus{
  outline:1px solid var(--buskr-pink);
} */
.insideBtn{
  position: relative;
  left:0;
  top:8px;
  background-color:transparent;
  color:#d9d9d9;
  border:0;
}
#searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:335px;
}

#searchBtn{
  width:335px;
  margin-top:12px;
  margin-bottom: 0px;
}
/* #searchBtn:hover,
#searchBtn:focus {
  background-color: #f57c8a;
} */
#tagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  width:100%
}

.searchTag {
  background-color: var(--buskr-orange);
  border-radius: 12px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 8px 8px 0px 0px;
  outline: none;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.searchTag.selected {
  background-color: var(--buskr-purple);
}

.autocompleteInput {
  position: absolute;
  padding:5px;
  padding-left:30px;
  width:280px;
  height:35px;
  background-color:transparent;
  border:0;
  color: var(--buskr-purple);
}
.autocompleteInput:focus{
  outline: none;
}
.noSuggestions {
  color: #999;
  padding: 0.2rem;
}
.suggestions {
  margin: 0px;
  position: absolute;
  top: 29px;
  left: 0px;
  border: 1px solid var(--buskr-orange);
  list-style: none;
  max-height: 100px;
  overflow-y: auto;
  padding: 10px 0px 10px 25px;
  width: 335px;
  z-index: 99 !important;
  color: var(--buskr-purple);
  font-size: 12px;
  background-color: white;
}
.suggestions li {
  padding: 0.1rem;
}

.suggestions li:hover {
  background-color: var(--buskr-pink);
  color: var(--buskr-white);
  cursor: pointer;
  font-weight: 700;
}
/* .suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
} */
.datePicker {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:335px;
  height: 35px;
  position: relative;
}
.datePicker > div {
  width:335px;
  margin:0px 0px;
  border:1px solid var(--buskr-lightgray);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
.datePicker > div > input{
  padding-left:30px;
  width:335px;
  height: 35px;
  background-color:transparent;
  border:0;
  outline: none;
  color: var(--buskr-purple);
}
.dateIcon {
  position:absolute;
}

.miniSearchInput:focus, .searchBar:focus, .autocompleteInput, .autocompleteInput:focus, .searchInput:focus, .datePicker > div > input {
  border: none;
  box-shadow: none;
}

#miniForm {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:335px;
  position: relative;
}

.miniBar {
  margin:0px 0px;
  width:150px;
  height:30px;
  border:1px solid var(--buskr-lightgray);
}


.miniBar:focus-within {
  border-color: var(--buskr-orange);
  border-right: 1px solid var(--buskr-orange);
  outline: none !important;
  box-shadow: 0 0 10px var(--buskr-orange);
}

.miniBar:not(:focus-within) {
  border-right: none;
}

#miniTermInput{
  /* border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; */
  border-left: none;
}

#miniSearchBtn {
  width:30px;
  height:30px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  padding:8px;
  color: white;
  background-color: var(--buskr-pink);
  border: none;
}
#miniBackBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width:30px;
  height:30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* padding:3px 8px; */
  color: white;
  background-color: var(--buskr-orange);
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.miniSearchInput{
  position: absolute;
  padding-left:30px;
  width:150px;
  background-color:transparent;
  border:0;
  outline:none;
  height:30px;
}
.miniInsideBtn{
  position: relative;
  left:0;
  top:5px;
  background-color:transparent;
  color:#d9d9d9;
  border:0;
}
